[submodule "testing/builtin-actors"]
	path = testing/builtin-actors
	url = https://github.com/filecoin-project/builtin-actors
[submodule "lib/solidity-cborutils"]
	path = lib/solidity-cborutils
	url = https://github.com/smartcontractkit/solidity-cborutils
